---
import { toDateString } from "@lib/misc/dates";
import type { Project } from "@lib/projects/structures";
import ProjectTag from "@components/projects/ProjectTag.astro";

export interface Props {
    project: Project;
}

const { project } = Astro.props;
---

<div class="project-card">
    <!-- TODO: Edit card contents -->
    <!-- TODO: Make card intractable (i.e., flip card to see summary) -->
    <h3>{project.name}</h3>
    {project.tags.map((tag) => <ProjectTag name={tag.toString()} colour="#64B75D" />)}
    <span>
        {toDateString(project.dates.start)} &mdash; {project.dates.end ? toDateString(project.dates.end) : "Present"}
    </span>
    <p>
        {project.summary}
    </p>
</div>

<style>
    .project-card {
        /* Design the card */
        /* TODO: We can do better than this... */
        @apply w-[90%] rounded-xl border border-solid border-white p-[10px]; /* TODO: Adjust width and padding */

        /* Align content to center */
        @apply mx-auto my-0 text-center;
    }
</style>
