---
import "./style.scss";
---

<div class="hamburger">
    <!-- Todo: surely there's a nicer way to do this... -->
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>
<script>
    import "./script";
</script>
