// TODO: Add more
$font-stack-sans-serif: "DM Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$font-stack-mono: "JetBrains Mono", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Courier New", monospace;

.font-sans-serif {
    font-family: $font-stack-sans-serif;
}

.font-mono {
    font-family: $font-stack-mono;
}
