@import "tailwindcss";
@import "tailwindcss-intersect";

@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";
@plugin "flowbite/plugin";

@theme {
    --font-sans: "DM Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
    --font-mono: "JetBrains Mono", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Courier New", "monospace";

    --breakpoint-sm: 30rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 90rem;

    --text-2xs: 0.55rem;
    --text-2xs--line-height: calc(0.75 / 0.55);
}

@layer base {
    @media print {
        @page {
            size: portrait;
        }
    }
}
