---
import Layout from "@layouts/Layout.astro";
---

<!-- TODO: Change title and contents-->
<Layout title="About Me">
    <h1>About Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi praesentium voluptate delectus inventore
        necessitatibus alias voluptatibus dolore. Aliquam ratione, omnis tempore inventore eveniet excepturi dolorem
        reiciendis nobis deserunt officia?
    </p>
</Layout>
