---
import MainLayout from "@layouts/MainLayout.astro";
---

<!-- TODO: Change title and contents-->
<MainLayout title="About">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi praesentium voluptate delectus inventore
        necessitatibus alias voluptatibus dolore. Aliquam ratione, omnis tempore inventore eveniet excepturi dolorem
        reiciendis nobis deserunt officia?
    </p>
</MainLayout>
