---
import MainLayout from "@layouts/MainLayout.astro";
---

{/* TODO: Change contents */}
<MainLayout
    class="motion-safe:delay-200 motion-safe:duration-300 motion-safe:animate-in motion-safe:fade-in motion-safe:fill-mode-backwards motion-safe:slide-in-from-top-4"
    title="About Me"
>
    {/* About me */}
    <section>
        <p>Hello! Welcome to my little corner of the internet! I hope you like it!</p>
        <p>
            I am <b>Kan Onn Kit</b> (Ryan Kan), a Singaporean. I am known as <code>PhotonicGluon</code> online. I am
            a programmer by trade and a hobbyist writer and music composer on the side.
        </p>
    </section>

    {/* Character */}
    <section>
        <h2>Character</h2>
        <p>
            I am often described as a level-headed person when making decisions. I consider the facts and evidence
            of the matter instead of relying (solely) on emotion and feeling. I am sociable and love to work in a
            team. Challenges are appealing to me, as they allow me to showcase my problem-solving skillset and come
            up with a solution. From young, I had an inquisitive mind, seeking out the answers to the questions
            that I had. Curiosity always seems to lead me to dig deeper into the reasoning and logic behind
            everything. I guess that's why I am good at mathematics and computing, and not so good at the
            humanities.
        </p>
    </section>

    {/* Learning & Education */}
    <section>
        <h2>Learning and Education</h2>
        <p>
            I studied at Nanyang Junior College (NYJC), and at the School of Science and Technology (SST) before
            that. My education there allowed me to foster teamwork and collaboration skills, as well as develop a
            good work ethic.
        </p>
        <p>
            Learning is a lifelong skill that I am grateful to have picked up early on. I am fortunate that I
            didn't struggle in school that much. However I'd be lying if I said that I've always been good at
            learning. I'll say that youthful me did not care for a second about studying for the final exam that
            decides my secondary school; I nearly flunked it. I was lucky that I had advance placing in my
            secondary school, and that it continued to foster my curious mind.
        </p>
    </section>

    {/* Programming and AI */}
    <section>
        <h2>Programming and AI</h2>
        <p>
            I feature many programming projects on my website, Overwrite. Programming allows me to automate menial
            tasks that I need accomplished, sure, but the real reason behind them is that I can further work with
            logical systems to accomplish great things. Systems that can assist people in transcribing music,
            systems that can play games, systems that perform video editing, etc. But my earliest public work were
            on AI.
        </p>
        <p>
            These projects were simple, mind you, they were not going to change the world or anything. But these
            projects allowed me to get a better appreciation of the new era of systems -- that of which are
            conducted by AI. Early on I released Sredictio, a stock prediction bot based on Advantage Actor Critic
            (A2C). Needless to say that this was just a proof of concept, but this really made me appreciate the
            complexity of AI systems silently dictating our world.
        </p>
    </section>

    {/* Music, Art, and Expression */}
    <section>
        <h2>Music, Art, and Expression</h2>
        <p>
            My interest in music, specifically music composition, was a recent development, starting only in late
            2021. It started out by just transcribing existing songs, but by late 2022 my interest in it blossomed
            to creating my own compositions. <a href="/projects/7125"><em>7125</em></a> was released early 2023 as an
            expression of what I was feeling in the months leading up to enlistment. Back then I focused solely on using
            MuseScore for compositions, but I slowly transitioned to using FL Studio for my later releases.
        </p>
        <p>
            Both <a href="/projects/dreams"><em>Dreams</em></a> and <a href="/projects/spectra"><em>Spectra</em></a
            > were albums whose songs were made in FL Studio. Though FL Studio is more targeted to EDM makers, I focused
            on making "contemporary classical" music in it &mdash; a challenge that, in hindsight, allowed me to express
            myself more freely using music.
        </p>
        <p>
            Music is a form of art, but I don't think that speaks the whole truth. My belief is that art is the
            result of expression, that it is the output of a person trying to express their thoughts and feelings
            in a manner that can be understood by others. Expression, then, is the raw feelings, ideas, and
            thoughts that the person wants to express; the resulting art, be it literature, (literal) art, music,
            drama, movies, etc., is the best that one can do to put these expressions concretely.
        </p>
    </section>

    {/* Mathematics */}
    <section>
        <h2>Mathematics</h2>
        <p>
            It was during secondary school that I fell in love with mathematics. The way that simple axioms and
            statements can create systems and methods to help us describe our natural world appealed to me, but I
            think the greater reason why I stuck with mathematics is due to its inherent beauty. That's why I
            continued to pursue mathematics after my JC years, and took 2 years to write a whole book on abstract
            algebra. There is just something about it that allows me to explore; they're a useful toolbelt for me
            to come up with new ideas and theories and test them out, and to just have fun exploring the wide depth
            of mathematics.
        </p>
    </section>

    {/* Secrets */}
    <section>
        <h2>Secrets</h2>
        <p>
            Of course, there are some things that are only meant for certain people to find. Sometimes not everyone
            is expected (or is desired by the artist) to find out or understand the true "meaning" behind each work
            of art. Sometimes the artist wants to hide the truth in plain sight &mdash; double meaning, per se.
            Steganography and ciphers litter my own works, for I don't want everyone to see the truth so plainly.
        </p>
        <p>
            I have been interested in different forms of hiding secrets for as long as I can remember.
            Steganography allows me to convey a deeper meaning to my work than what the surface level entails, and
            provides me a way to add a signature to whatever I do. Some messages are direct; others are targeted to
            only a few people. I believe that the intended audience of my messages would be able to infer their
            true meaning without any issues.
        </p>
    </section>

    {/* Contact */}
    <section>
        <h2>Contact</h2>
        <span>Questions? Comments? Reach me via:</span>
        {/* TODO: Maybe use a nicer way to display contact info */}
        {/* TODO: Also change contact info */}
        {/* TODO: Also use actual buttons >:( */}
        <ul class="list-inside list-disc">
            <li>Email: <a href="mailto:contact@overwrite.site">contact@overwrite.site</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/kan-onn-kit">Onn Kit Kan</a></li>
        </ul>
    </section>
</MainLayout>

<style>
    @import "@styles/global.css";

    h2 {
        @apply text-3xl font-bold;
    }
</style>
