---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
    class="motion-safe:delay-200 motion-safe:duration-300 motion-safe:animate-in motion-safe:fade-in motion-safe:fill-mode-backwards motion-safe:slide-in-from-top-4"
    title="Blogs"
>
    <span>TODO: Add</span>
</MainLayout>
