---
import ButtonLink from "@components/generic/ButtonLink.astro";
import HeroBox from "@components/HeroBox.astro";
import ProjectBanner from "@components/projects/ProjectBanner.astro";
import ProjectTags from "@components/projects/ProjectTags";
import ProjectURLsIcons from "@components/projects/ProjectURLsIcons.astro";
import Shader from "@components/Shader.astro";

import MainLayout from "@layouts/MainLayout.astro";

import { getFeaturedProjects, toProject } from "@lib/projects/project";

const featuredProjects = await getFeaturedProjects([
    "abstract-algebra",
    "overwrite",
    "spectra",
    "dreams",
    "7125",
    "auditranscribe",
    "chess-clock-trivia",
    "the-challenge",
]);
---

<MainLayout tabTitle="Photonic">
    {/* Hero box */}
    <Fragment slot="hero-box">
        {/* Main hero box content */}
        <HeroBox
            title="Photonic"
            titleClass="text-8xl"
            titleAnimation="motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-top-4"
            subtitle="Making cool things."
            subtitleClass="text-lg"
            subtitleAnimation="motion-safe:delay-100 motion-safe:duration-1000 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-bottom-2 motion-safe:fill-mode-backwards"
            height="max(600px, 100vh)"
        >
            {/* Add the special swirl shader for the index page */}
            <Fragment slot="shader">
                <Shader id="hero-shader" basePath="lib/shaders/frag/swirl" />
                <div
                    class="absolute top-0 h-[inherit] w-full bg-gradient-to-b from-transparent via-gray-950/40 via-70% to-gray-950"
                >
                </div>
            </Fragment>
        </HeroBox>

        {/* Add hint to scroll down */}
        <div class="absolute bottom-8 left-1/2 -translate-x-1/2">
            <div
                class="text-gray-500 *:mx-auto *:block *:w-fit motion-safe:animate-bounce motion-safe:delay-1000 motion-safe:fill-mode-backwards"
            >
                <span class="italic">Scroll down to read more</span>
                <span>&#9660 {/* Downward caret */}</span>
            </div>
        </div>
    </Fragment>

    <div
        class="absolute top-[max(600px,100vh)] z-10 h-32 w-full bg-gradient-to-b from-gray-950 via-gray-950/40 via-30% to-transparent"
    >
    </div>

    {/* Featured projects */}
    <section class="pt-32">
        {/* TODO: Enable once we are ready to introduce scroll-based animations */}
        {/* <div class="h-screen"> */}
        <div>
            <!-- <div class="flex h-screen justify-center">
                <div class="content-center">
                    <h1
                        class="intersect-once intersect-half relative z-20 text-center text-5xl font-bold motion-safe:delay-100 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-bottom-4 motion-safe:paused motion-safe:fill-mode-backwards motion-safe:intersect:running"
                    >
                        Featured Projects
                    </h1>
                </div>
            </div> -->
            <h1
                class="intersect-once intersect-half relative z-20 text-center text-5xl font-bold motion-safe:delay-100 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-bottom-4 motion-safe:paused motion-safe:fill-mode-backwards motion-safe:intersect:running"
            >
                Featured Projects
            </h1>
            <div class="mx-auto flex max-w-4xl flex-col gap-4 pt-4">
                {
                    featuredProjects.map((rawProject) => {
                        const project = toProject(rawProject.data);

                        return (
                            <div class="grid w-full grid-cols-2 flex-row items-center self-center rounded-lg border border-gray-700 bg-gray-800">
                                <div class="grid w-4/5 gap-2 place-self-center py-8 text-left">
                                    <div class="flex">
                                        <div class="grow">
                                            <h2 class="text-3xl font-bold tracking-tight text-white">
                                                {project.name}
                                            </h2>
                                            <ProjectTags class="w-min text-white" tags={project.tags} />
                                        </div>
                                        <div class="flex items-center">
                                            <ProjectURLsIcons urls={project.urls} />
                                        </div>
                                    </div>

                                    <p class="mt-2 p-0 font-normal text-gray-400">{project.summary}</p>

                                    <div class="mt-2">
                                        <ButtonLink
                                            class="bg-sky-700 hover:bg-sky-800"
                                            href={"/projects/" + rawProject.id}
                                        >
                                            Read More
                                        </ButtonLink>
                                    </div>
                                </div>

                                {/* TODO: Use Image component? */}
                                <ProjectBanner
                                    class="h-full w-full rounded-none rounded-r-lg object-contain"
                                    src={project.banner!}
                                    alt={project.name + " Banner"}
                                />
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </section>
</MainLayout>
