---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroBoxFull from "@components/hero-box/HeroBoxFull.astro";
import ProjectCard from "@components/projects/ProjectCard.astro";
import { getFeaturedProjects, toProject } from "@lib/projects/project";

// Get featured projects
const projects = await getFeaturedProjects();
---

<!-- TODO: Change title and contents -->
<BaseLayout title="Photonic">
    <HeroBoxFull
        title="Photonic"
        subtitle="Making cool things."
        fragURL="lib/shaders/frag/swirl/swirl-modifiable.frag"
        editableUniformsURL="lib/shaders/frag/swirl/editable-uniforms.ts"
    />

    <!-- TODO: Change styling -->
    <section id="featured-projects">
        <h2 class="section-title">Featured Projects</h2>
        <div class="projects">
            {projects.map((rawProject) => <ProjectCard id={rawProject.id} project={toProject(rawProject.data)} />)}
        </div>
    </section>
</BaseLayout>

<style>
    /* TODO: Change styling */

    #featured-projects .section-title {
        @apply text-center text-5xl font-bold underline;
    }

    .projects {
        @apply grid grid-cols-3 gap-4 pt-8;
    }
</style>
