---
import HeroBox from "@components/HeroBox.astro";
import ProjectCard from "@components/projects/ProjectCard";
import Shader from "@components/Shader.astro";

import MainLayout from "@layouts/MainLayout.astro";

import { getFeaturedProjects, toProject } from "@lib/projects/project";

const featuredProjects = await getFeaturedProjects([
    "abstract-algebra",
    "overwrite",
    "spectra",
    "dreams",
    "7125",
    "auditranscribe",
    "chess-clock-trivia",
    "the-challenge",
]);
---

<MainLayout tabTitle="Photonic">
    {/* Hero box */}
    <Fragment slot="hero-box">
        {/* Main hero box content */}
        <HeroBox
            title="Photonic"
            titleClass="text-8xl"
            titleAnimation="motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-top-4"
            subtitle="Making cool things."
            subtitleClass="text-lg"
            subtitleAnimation="motion-safe:delay-100 motion-safe:duration-1000 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-bottom-2 motion-safe:fill-mode-backwards"
            height="max(600px, 100vh)"
        >
            {/* Add the special swirl shader for the index page */}
            <Fragment slot="shader">
                <Shader id="hero-shader" basePath="lib/shaders/frag/swirl" />
                <div
                    class="absolute top-0 h-[inherit] w-full bg-gradient-to-b from-transparent via-gray-950/40 via-70% to-gray-950"
                >
                </div>
            </Fragment>
        </HeroBox>
        <div
            class="absolute top-[max(600px,100vh)] -z-10 h-64 w-full bg-gradient-to-b from-gray-950 via-gray-950/40 via-30% to-transparent"
        >
        </div>

        {/* Add hint to scroll down */}
        <div class="absolute bottom-8 left-1/2 -translate-x-1/2">
            <div
                class="text-gray-500 *:mx-auto *:block *:w-fit motion-safe:animate-bounce motion-safe:delay-1000 motion-safe:fill-mode-backwards"
            >
                <span class="italic">Scroll down to read more</span>
                <span>&#9660 {/* Downward caret */}</span>
            </div>
        </div>
    </Fragment>

    {/* Featured projects */}
    <section class="pt-8">
        <h2
            class="intersect-once intersect-half text-center text-5xl font-bold underline motion-safe:opacity-0 motion-safe:delay-100 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:paused motion-safe:fill-mode-backwards motion-safe:intersect:opacity-100 motion-safe:intersect:slide-in-from-bottom-4 motion-safe:intersect:running"
        >
            Featured Projects
        </h2>
        <div class="grid grid-cols-3 justify-items-center gap-4 pt-8">
            {
                featuredProjects.map((rawProject) => (
                    <ProjectCard id={rawProject.id} project={toProject(rawProject.data)} client:visible />
                ))
            }
        </div>
    </section>
</MainLayout>
