---
import HeroBox from "@components/HeroBox.astro";
import ProjectCard from "@components/projects/ProjectCard";
import MainLayout from "@layouts/MainLayout.astro";

import { getFeaturedProjects, toProject } from "@lib/projects/project";

// Get featured projects
const projects = await getFeaturedProjects();
---

<MainLayout tabTitle="Photonic">
    <HeroBox
        title="Photonic"
        titleSize="64pt"
        subtitle="Making cool things."
        subtitleSize="14pt"
        height="max(600px, 100vh)"
        fragURL="lib/shaders/frag/swirl/swirl-modifiable.frag"
        editableUniformsURL="lib/shaders/frag/swirl/editable-uniforms.ts"
        slot="hero-box"
    />

    {/* TODO: Change styling */}
    <section id="featured-projects">
        <h2 class="section-title">Featured Projects</h2>
        <div class="grid grid-cols-3 justify-items-center gap-4 pt-8">
            {
                projects.map((rawProject) => (
                    <ProjectCard id={rawProject.id} project={toProject(rawProject.data)} client:visible />
                ))
            }
        </div>
    </section>
</MainLayout>

<style>
    /* TODO: Change styling */

    #featured-projects {
        @apply pt-8;
    }

    #featured-projects .section-title {
        @apply text-center text-5xl font-bold underline;
    }
</style>
