---
import ProjectCard from "@components/projects/ProjectCard.astro";
import MainLayout from "@layouts/MainLayout.astro";

import { getFeaturedProjects, toProject } from "@lib/projects/project";

// Get featured projects
const projects = await getFeaturedProjects();
---

<!-- TODO: Change title and contents, and use theme to change these styles -->
<MainLayout
    title="Photonic"
    titleSize="64pt"
    subtitle="Making cool things."
    subtitleSize="14pt"
    tabTitle="Photonic"
    heroBoxHeight="max(600px, 100vh)"
>
    <!-- TODO: Change styling -->
    <section id="featured-projects">
        <h2 class="section-title">Featured Projects</h2>
        <div class="projects">
            {projects.map((rawProject) => <ProjectCard id={rawProject.id} project={toProject(rawProject.data)} />)}
        </div>
    </section>
</MainLayout>

<style>
    /* TODO: Change styling */

    #featured-projects .section-title {
        @apply text-center text-5xl font-bold underline;
    }

    .projects {
        @apply grid grid-cols-3 gap-4 pt-8;
    }
</style>
