---
// import Shader from "@components/Shader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroBoxFull from "@components/hero-box/HeroBoxFull.astro";
import { getFeaturedProjects, type Project } from "@lib/projects/project";

// Get featured projects
const projects: Project[] = await getFeaturedProjects();
---

<!-- TODO: Change title and contents -->
<BaseLayout title="Photonic">
    <HeroBoxFull title="Photonic" subtitle="Making cool things." />
    <!-- <Shader
        id="hero-shader"
        fragURL="lib/shaders/frag/swirl/swirl-modifiable.frag"
        editableUniformsURL="lib/shaders/frag/swirl/editable-uniforms.ts"
        imageURL="/checkerboard.png"
    /> -->
    <p class="font-mono">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi praesentium voluptate delectus inventore
        necessitatibus alias voluptatibus dolore. Aliquam ratione, omnis tempore inventore eveniet excepturi dolorem
        reiciendis nobis deserunt officia?
    </p>

    <!-- TODO: nicely arrange the featured projects -->
    <ul>
        {projects.map((project) => <li>{project.name}</li>)}
    </ul>
</BaseLayout>
