---
import HeroBox from "@components/HeroBox.astro";
import ProjectCard from "@components/projects/ProjectCard";
import Shader from "@components/Shader.astro";

import MainLayout from "@layouts/MainLayout.astro";

import { getFeaturedProjects, toProject } from "@lib/projects/project";

const featuredProjects = await getFeaturedProjects();
---

<MainLayout tabTitle="Photonic">
    {/* Hero box */}
    <Fragment slot="hero-box">
        {/* Main hero box content */}
        <HeroBox
            title="Photonic"
            titleClass="text-8xl"
            titleAnimation="motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-top-4"
            subtitle="Making cool things."
            subtitleClass="text-lg"
            subtitleAnimation="motion-safe:delay-100 motion-safe:duration-1000 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-bottom-2 motion-safe:fill-mode-backwards"
            height="max(600px, 100vh)"
        >
            {/* Add the special swirl shader for the index page */}
            <Fragment slot="shader">
                <Shader id="hero-shader" basePath="lib/shaders/frag/swirl" />
                <div
                    class="absolute top-0 h-[inherit] w-full bg-gradient-to-b from-transparent via-gray-950/40 via-70% to-gray-950"
                >
                </div>
            </Fragment>
        </HeroBox>

        {/* Add hint to scroll down */}
        <div class="absolute bottom-8 left-1/2 -translate-x-1/2">
            <div
                class="text-gray-500 *:mx-auto *:block *:w-fit motion-safe:animate-bounce motion-safe:delay-1000 motion-safe:fill-mode-backwards"
            >
                <span class="italic">Scroll down to read more</span>
                <span>&#9660 {/* Downward caret */}</span>
            </div>
        </div>
    </Fragment>

    <div
        class="absolute top-[max(600px,100vh)] z-10 h-64 w-full bg-gradient-to-b from-gray-950 via-gray-950/40 via-30% to-transparent"
    >
    </div>

    {/* Featured projects */}
    <div>
        <div class="bg-slate-800/75 bg-[size:100%_100%] pt-16">
            <h1
                class="intersect-once intersect-half relative z-20 text-center text-5xl font-bold motion-safe:delay-100 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-bottom-4 motion-safe:paused motion-safe:fill-mode-backwards motion-safe:intersect:running"
            >
                Featured Projects
            </h1>

            <section class="relative z-20 grid grid-cols-2 gap-x-8 pt-4">
                <div class="col-span-2 grid grid-cols-1 gap-y-16">
                    {
                        featuredProjects.map((rawProject, index) => {
                            const project = toProject(rawProject.data);

                            const main = (
                                <>
                                    {/* TODO: Use Image component */}
                                    <img
                                        class="max-h-96 max-w-96 rounded-xl"
                                        src={project.banner}
                                        alt={`${project.name} Banner`}
                                    />
                                </>
                            );
                            const aux = (
                                <>
                                    <h2 class="text-left text-2xl font-bold italic">{project.name}</h2>
                                    <p>{project.summary}</p>
                                </>
                            );

                            return (
                                <div class="grid grid-cols-2 content-center gap-x-8 self-center">
                                    <div class="intersect-once motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-bottom-4 motion-safe:paused motion-safe:fill-mode-backwards motion-safe:intersect:running">
                                        {index % 2 == 0 ? main : aux}
                                    </div>
                                    <div class="intersect-once motion-safe:delay-300 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-bottom-4 motion-safe:paused motion-safe:fill-mode-backwards motion-safe:intersect:running">
                                        {index % 2 == 1 ? main : aux}
                                    </div>
                                </div>
                            );
                        })
                    }
                </div>
            </section>
        </div>
        <div class="z-10 h-32 w-full bg-gradient-to-b from-slate-800/75 via-gray-950/40 via-80% to-transparent">
        </div>
    </div>
</MainLayout>
