---
// import Shader from "@components/shader/Shader.astro";
import Layout from "@layouts/Layout.astro";
---

<!-- TODO: Change title and contents -->
<Layout title="Index">
    <h1>Index Page</h1>
    <!-- <Shader
        id="hero-shader"
        fragURL="lib/shaders/frag/swirl/swirl-modifiable.frag"
        editableUniformsURL="lib/shaders/frag/swirl/editable-uniforms.ts"
        imageURL="/tunic-fox-wave.jpg"
    /> -->
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi praesentium voluptate delectus inventore
        necessitatibus alias voluptatibus dolore. Aliquam ratione, omnis tempore inventore eveniet excepturi dolorem
        reiciendis nobis deserunt officia?
    </p>
</Layout>
