---
// import Shader from "@components/Shader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<!-- TODO: Change title and contents -->
<BaseLayout title="Index">
    <h1>Index Page</h1>
    <!-- <Shader
        id="hero-shader"
        fragURL="lib/shaders/frag/swirl/swirl-modifiable.frag"
        editableUniformsURL="lib/shaders/frag/swirl/editable-uniforms.ts"
        imageURL="/checkerboard.png"
    /> -->
    <p class="font-mono">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi praesentium voluptate delectus inventore
        necessitatibus alias voluptatibus dolore. Aliquam ratione, omnis tempore inventore eveniet excepturi dolorem
        reiciendis nobis deserunt officia?
    </p>
</BaseLayout>
