---
import HeroBox from "@components/HeroBox.astro";
import ProjectCard from "@components/projects/ProjectCard";
import MainLayout from "@layouts/MainLayout.astro";

import { getFeaturedProjects, toProject } from "@lib/projects/project";

const featuredProjects = await getFeaturedProjects();
---

<MainLayout tabTitle="Photonic">
    <HeroBox
        title="Photonic"
        titleClass="text-8xl"
        subtitle="Making cool things."
        subtitleClass="text-lg"
        height="max(600px, 100vh)"
        basePath="lib/shaders/frag/swirl"
        slot="hero-box"
    />

    <section class="pt-8">
        <h2 class="text-center text-5xl font-bold underline">Featured Projects</h2>
        <div class="grid grid-cols-3 justify-items-center gap-4 pt-8">
            {
                featuredProjects.map((rawProject) => (
                    <ProjectCard id={rawProject.id} project={toProject(rawProject.data)} client:visible />
                ))
            }
        </div>
    </section>
</MainLayout>
