---
import ProjectCard from "@components/ProjectCard.astro";
import MainLayout from "@layouts/MainLayout.astro";

import { projects } from "@lib/projects/projects";
---

<!-- TODO: Change title and contents-->
<MainLayout title="Projects">
    <div class="projects">
        {projects.map((project) => <ProjectCard project={project} />)}
    </div>
</MainLayout>

<style lang="scss">
    .projects {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px; // TODO: Make this configurable
    }
</style>
