---
import { getCollection } from "astro:content";
import { toProject } from "@lib/projects/project";

import ProjectFilters from "@components/projects/ProjectFilters";
import ProjectList from "@components/projects/ProjectList";

import MainLayout from "@layouts/MainLayout.astro";

// Update project items store
const rawProjects = await getCollection("projects");

// Separate raw data into project IDs and projects
const projectIDs = rawProjects.map((rawProject) => rawProject.id);
const projects = rawProjects.map((rawProject) => toProject(rawProject.data));
---

<MainLayout title="Projects">
    <section class="grid grid-cols-5 divide-x-2 divide-solid divide-gray-500">
        {/* Project search/filters */}
        <div
            class="sticky top-3 col-span-1 col-start-1 self-start motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-left-4 motion-safe:fill-mode-backwards"
        >
            <ProjectFilters ids={projectIDs} projects={projects} client:load />
        </div>

        {/* Project list */}
        <div class="col-span-4 col-start-2">
            <ProjectList
                class="motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-right-4 motion-safe:fill-mode-backwards"
                client:load
            />
        </div>
    </section>
</MainLayout>
