---
import { getCollection } from "astro:content";

import { toProject } from "@lib/projects/project";

import ProjectFilters from "@components/projects/ProjectFilters";
import ProjectList from "@components/projects/ProjectList";
import SEO from "@components/top/SEO.astro";

import MainLayout from "@layouts/MainLayout.astro";

// Update project items store
const rawProjects = await getCollection("projects");

// Separate raw data into project IDs and projects
const projectIDs = rawProjects.map((rawProject) => rawProject.id);
const projects = rawProjects.map((rawProject) => toProject(rawProject.data));
---

<MainLayout
    title="Projects"
    class="pt-20 md:pt-24 lg:not-print:pt-0"
    heroBoxClass="hidden h-(--height) lg:block print:block print:h-16"
>
    {/* SEO */}
    <Fragment slot="head-seo">
        <SEO
            title="Projects"
            description="List of projects made by PhotonicGluon"
            openGraph={{
                title: "Projects on Photonic",
                description: "List of projects made by PhotonicGluon",
                image: {
                    url: "https://raw.githubusercontent.com/PhotonicGluon/Photonic/4c2ae66/public/favicon.png",
                    alt: "Photonic Logo",
                    type: "image/png",
                    width: 500,
                    height: 500,
                },
            }}
        />
    </Fragment>

    {/* Main stuff */}
    <section
        class="grid grid-cols-1 divide-y-2 divide-solid divide-gray-500 lg:grid-cols-5 lg:divide-x-2 lg:divide-y-0 print:block"
    >
        {/* Project search/filters */}
        <div class="h-36 pb-4 md:h-44 lg:h-full lg:pr-3 lg:pb-0 print:hidden">
            <div
                class="col-span-1 col-start-1 self-start motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:fill-mode-backwards lg:sticky lg:top-3 motion-safe:lg:slide-in-from-left-4"
            >
                <ProjectFilters ids={projectIDs} projects={projects} client:load />
            </div>
        </div>

        {/* Project list */}
        <div class="pt-4 lg:col-span-4 lg:col-start-2 lg:pt-0 lg:pl-3">
            <ProjectList
                class="motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:fill-mode-backwards motion-safe:lg:slide-in-from-right-4"
                client:load
            />
        </div>
    </section>
</MainLayout>

<script>
    import $ from "jquery";

    $(async () => {
        // Wait for a bit to let the filters load
        // FIXME: This is kinda bad but it works
        await new Promise((r) => setTimeout(r, 250));
        $("#tags input[type=checkbox]:not(:checked)").each((_, checkbox) => {
            checkbox.click(); // This is bad but this works
        });
    });
</script>
