---
import ProjectCard from "@components/projects/ProjectCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { toProject } from "@lib/projects/project";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<!-- TODO: Change title and contents-->
<MainLayout title="Projects">
    <section id="projects">
        {projects.map((rawProject) => <ProjectCard id={rawProject.id} project={toProject(rawProject.data)} />)}
    </section>
</MainLayout>

<style>
    #projects {
        @apply grid grid-cols-3 gap-4 pt-8;
    }
</style>
