---
import MainLayout from "@layouts/MainLayout.astro";

import { projects } from "@lib/projects/projects";
---

<!-- TODO: Change title and contents-->
<MainLayout title="Projects">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi praesentium voluptate delectus inventore
        necessitatibus alias voluptatibus dolore. Aliquam ratione, omnis tempore inventore eveniet excepturi dolorem
        reiciendis nobis deserunt officia?
    </p>
    <!-- TODO: Make this better -->
    <ul>
        {projects.map((project) => <li>{project.name}</li>)}
    </ul>
</MainLayout>
