---
import { Image } from "astro:assets";

import hamburgerIcon from "@images/icons/hamburger-menu.svg";
---

<div class="float-right h-16 w-16 cursor-pointer md:hidden" id="hamburger">
    <Image class="relative top-1/2 m-auto h-10 w-10 -translate-y-1/2" src={hamburgerIcon} alt="Open Menu" />
</div>

<script>
    import $ from "jquery";

    $("#hamburger").on("click", () => {
        $("#links")[0].classList.toggle("expanded");
    });
</script>
