---
import Hamburger from "@components/header/Hamburger.astro";
import Navigation from "@components/header/Navigation.astro";
---

<header class="absolute z-10 mx-auto w-full">
    <nav class="mx-auto mb-0 mt-8 w-full max-w-screen-xl px-10">
        <Hamburger />
        <Navigation />
    </nav>
</header>
