---
import Navigation from "@components/header/Navigation.astro";
---

<header class="absolute z-100 mx-auto w-full print:hidden">
    <nav class="mx-auto mt-8 mb-0 w-full max-w-screen-xl px-10">
        <Navigation />
    </nav>
</header>
