---
import Hamburger from "@components/hamburger/Hamburger.astro";
import Navigation from "@components/navigation/Navigation.astro";
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
