---
import { Image } from "astro:assets";

import logoImage from "@images/Icon.jpg";
import hamburgerIcon from "@images/icons/hamburger-menu.svg";
---

{/* Hamburger icon */}
<div class="toggle-slideover float-right h-12 w-12 cursor-pointer md:hidden">
    <Image
        class="relative top-1/2 ml-auto h-10 w-auto -translate-y-1/2"
        src={hamburgerIcon}
        alt="Open Menu"
        loading="eager"
    />
</div>

{/* Main navigation */}
<div class="mx-auto my-0">
    <a href="/">
        <Image
            class="float-left h-12 w-auto rounded-xl md:h-14 xl:h-16 xl:rounded-2xl"
            src={logoImage}
            alt="Photonic Logo"
            loading="eager"
        />
    </a>
    <div class="invisible float-right m-0 w-full md:visible md:flex md:h-12 md:w-auto" id="slideover-wrapper">
        <div
            class="absolute inset-0 h-screen w-screen translate-x-full bg-gray-950 transition-all duration-300 ease-in-out md:static md:flex md:h-12 md:w-auto md:translate-x-0 md:items-center md:gap-8 md:bg-transparent"
            id="slideover"
        >
            <div
                class="toggle-slideover absolute right-0 top-0 mr-8 mt-8 flex h-10 w-10 cursor-pointer items-center justify-center text-gray-400 md:hidden"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-8"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                </svg>
            </div>
            <a href="/projects">Projects</a>
            <a href="/about">About</a>
        </div>
    </div>
</div>

<style>
    #slideover a {
        @apply block px-0 py-3 text-center font-mono text-xl uppercase text-gray-400 no-underline transition-all duration-200 hover:text-gray-300 focus:text-gray-300 md:inline-block md:py-0 md:last:px-0 xl:text-2xl;
    }
</style>

<script>
    import $ from "jquery";

    $(".toggle-slideover").each((_, elem) => {
        elem.addEventListener("click", () => {
            $("#slideover-wrapper")[0].classList.toggle("invisible");
            $("#slideover")[0].classList.toggle("translate-x-full");
        });
    });
</script>
