---
import { Image } from "astro:assets";

import logoImage from "@images/logo.png";

const NAV_ITEMS: { text: string; href: string }[] = [
    { text: "Projects", href: "/projects" },
    { text: "Blog", href: "/blog" },
    { text: "About", href: "/about" },
];
---

{/* Hamburger icon */}
<div class="toggle-slideover float-right size-12 cursor-pointer text-gray-400 md:hidden">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="relative top-1/2 ml-auto size-6 -translate-y-1/2"
    >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        ></path>
    </svg>
</div>

{/* Main navigation */}
<div class="mx-auto my-0">
    {/* Logo */}
    <a href="/">
        <Image
            class="float-left size-12 rounded-xl md:size-14 xl:size-16 xl:rounded-2xl"
            src={logoImage}
            alt="Photonic Logo"
            loading="eager"
        />
    </a>

    {/* Navigation links */}
    <div
        class="invisible fixed inset-0 m-0 w-full md:visible md:relative md:inset-auto md:float-right md:flex md:h-12 md:w-auto"
        id="slideover-wrapper"
    >
        <div
            class="absolute inset-0 h-screen w-screen translate-x-full bg-gray-950 transition-all duration-300 ease-in-out md:static md:h-auto md:w-auto md:translate-x-0 md:bg-transparent"
            id="slideover"
        >
            {/* Mobile close button */}
            <div
                class="toggle-slideover absolute top-0 right-0 mt-8 mr-8 flex size-12 cursor-pointer items-center justify-center text-gray-400 hover:text-gray-300 focus:text-gray-300 md:hidden"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                </svg>
            </div>

            {/* Navigation list */}
            <div
                class="mt-24 mr-11 grid grid-cols-1 place-items-end gap-4 md:mt-0 md:mr-0 md:flex md:h-12 md:w-auto md:items-center md:gap-8"
            >
                {
                    NAV_ITEMS.map(({ text, href }) => (
                        <a
                            class="w-min font-mono text-2xl !text-gray-400 uppercase no-underline transition-all duration-200 visited:!text-gray-400 hover:!text-gray-300 visited:hover:!text-gray-300 focus:text-gray-300 md:inline-block md:py-0 md:text-xl md:last:px-0 xl:text-2xl"
                            href={href}
                            aria-label={text}
                        >
                            {text}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</div>

<script>
    import $ from "jquery";

    $(".toggle-slideover").each((_, elem) => {
        elem.addEventListener("click", () => {
            $("#slideover-wrapper")[0].classList.toggle("invisible");
            $("#slideover")[0].classList.toggle("translate-x-full");
        });
    });
</script>
