---
import Social from "@components/Social.astro";

// Import social icons
import githubLogo from "@images/icons/github-mark-white.svg";
import bandcampLogo from "@images/icons/bandcamp-button-circle-line-white-256.png";
import linkedinLogo from "@images/icons/LI-In-Bug.png";

// Get the current year
const year = new Date().getFullYear().toString();
---

<footer role="contentinfo">
    <ul class="social-media-list">
        <Social platform="GitHub" url="https://github.com/PhotonicGluon" icon={githubLogo} />
        <Social platform="Bandcamp" url="https://melodicgluon.bandcamp.com/" icon={bandcampLogo} />
        <Social platform="LinkedIn" url="https://www.linkedin.com/in/kan-onn-kit" icon={linkedinLogo} />
    </ul>
    <span class="copyright">
        Copyright &copy; {year} PhotonicGluon
    </span>
    <span class="available-on-github">
        Photonic's source code is available on <a href="TODO: ADD">GitHub</a>.
    </span>
</footer>

<style>
    footer {
        @apply mx-0 mb-0 mt-8 pb-4 text-center;
    }

    .social-media-list {
        @apply mb-2 flex justify-center p-0;
    }

    .copyright {
        @apply block text-sm;
    }

    .available-on-github {
        @apply block text-xs;
    }
</style>
