<div class="hamburger">
    <img src="/src/images/icons/hamburger-menu.svg" alt="Open Menu" />
</div>

<style>
    /* TODO: Update */

    .hamburger {
        @apply float-right w-min cursor-pointer md:hidden;
    }

    .hamburger img {
        @apply w-[40px]; /* TODO: Change hamburger size */
    }

    .hamburger .line {
        @apply mb-[10px] block h-[5px] w-[40px] bg-white; /* TODO: Change hamburger size */
    }
</style>

<script>
    import $ from "jquery";

    const hamburger = $(".hamburger");
    hamburger.on("click", () => {
        $(".links")[0].classList.toggle("expanded");
    });
</script>
