---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style>
    header {
        @apply absolute mx-auto w-full;
    }

    nav {
        @apply mx-auto mb-0 mt-[30px] w-full max-w-7xl; /* TODO: Use better constants */
    }
</style>
