---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style>
    header {
        width: 100%;
        position: absolute;
    }

    nav {
        width: 90%;
        margin: 30px auto 0 auto;
    }
</style>
