---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style lang="scss">
    header {
        position: absolute;
    }
</style>
