<!-- TODO: Replace background with shader -->
<div class="hero-box-background">
    <div class="hero-box-overlay">
        <div class="hero-box-text">
            <h1>Photonic</h1>
            <span>Making cool things.</span>
        </div>
    </div>
</div>

<style lang="scss">
    .hero-box-background {
        background-image: url("/src/images/header-background-old.webp"); // TODO: Replace with shader
        height: max(600px, 100vh);
    }

    .hero-box-overlay {
        // TODO: Handle 'light mode'
        background: linear-gradient(
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.7) 70%,
                rgba(0, 0, 0, 0.75) 80%,
                rgba(0, 0, 0, 1) 100%
            )
            center;
        height: max(600px, 100vh);
        width: 100%;
    }

    .hero-box-text {
        position: absolute;
        width: 100%;
        top: max(300px, 50%);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 0 auto;

        * {
            color: white;
        }

        h1 {
            font-size: 64pt;
            margin: 0;
        }
    }
</style>
