---
export interface Props {
    // General
    /**
     * Optional class(es) to apply to the hero box element.
     *
     * A CSS variable, "--height", is available.
     *
     * Defaults to "h-(--height)".
     */
    class?: string;

    // Typography
    /** Title of the page */
    title: string;
    /** Optional CSS class(es) to apply to the title text */
    titleClass?: string;
    /** Animation override for the title text */
    titleAnimation?: string;
    /** Optional CSS inline styles to apply to the title text */
    titleStyle?: string;
    /** Optional subtitle of the page */
    subtitle?: string;
    /** Optional CSS class(es) to apply to the subtitle text */
    subtitleClass?: string;
    /** Animation override for the subtitle text */
    subtitleAnimation?: string;
    /** Optional CSS inline styles to apply to the subtitle text */
    subtitleStyle?: string;

    // Geometry
    /** Optional specification string for the height of the hero box */
    height?: string;
}

const {
    class: className = "h-(--height) print:h-32",
    title,
    titleClass,
    titleAnimation = "motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-top-3",
    titleStyle,
    subtitle,
    subtitleClass,
    subtitleAnimation = "motion-safe:delay-100 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:repeat-1 motion-safe:slide-in-from-bottom-2 motion-safe:fill-mode-backwards",
    subtitleStyle,
    height = "max(300px, 35vh)",
} = Astro.props;
---

<div class={className ? className : ""} style={{ "--height": height }}>
    <slot name="shader" />
    <div
        class="absolute top-[calc(var(--height)/2)] left-1/2 mx-0 my-auto mt-8 w-full max-w-screen-xl -translate-x-1/2 -translate-y-1/2 px-10 text-center xl:mt-0 print:top-16 print:mt-0"
        style={{ "--height": height }}
    >
        <h1
            class={"m-0 font-bold leading-none md:leading-tight text-white text-4xl md:text-5xl xl:text-6xl" +
                ` ${titleClass ? titleClass : ""} ${titleAnimation ? titleAnimation : ""}`}
            style={titleStyle}
        >
            {title}
        </h1>
        {
            subtitle && (
                <h2
                    class={
                        "m-0 pt-2 text-sm text-white md:pt-0 xl:text-base" +
                        ` ${subtitleClass ? subtitleClass : ""} ${subtitleAnimation ? subtitleAnimation : ""}`
                    }
                    style={subtitleStyle}
                >
                    {subtitle}
                </h2>
            )
        }
    </div>
</div>
