---
import { Image } from "astro:assets";
import logoImage from "../images/Icon.jpg"; // TODO: Replace
---

<div class="nav">
    <a href="/">
        <Image class="logo" src={logoImage} alt="Photonic Logo" loading="eager" />
    </a>
    <div class="links">
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
    </div>
</div>

<style lang="scss">
    // TODO: Update
    @use "/src/styles/fonts.scss";
    @use "/src/styles/themes.scss";

    .nav {
        margin: 0 auto;
    }

    .logo {
        border-radius: 15px;
        height: 60px;
        width: auto;
        float: left;
    }

    .links {
        width: 100%;
        display: none;
        margin: 0;
        float: right;

        a {
            display: block;
            text-align: center;
            padding: 10px 0;
            text-decoration: none;
            text-transform: uppercase;
            font-family: fonts.$font-family-mono;
            font-size: 18pt;
            color: themes.$colour-white-1; // TODO: Maybe use an 'accent' identifier?
            transition: all 0.2s;
        }

        a:hover,
        a:focus {
            color: themes.$colour-white-2;
        }
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 768px) {
        .links {
            margin-left: 5em;
            display: block;
            position: static;
            width: auto;
            background: none;

            a {
                display: inline-block;
                padding: 15px 20px;
            }
        }
    }
</style>
