---
import { Image } from "astro:assets";
import logoImage from "../images/Icon.jpg"; // TODO: Replace
---

<div class="nav">
    <a href="/">
        <Image class="logo" src={logoImage} alt="Photonic Logo" loading="eager" />
    </a>
    <div class="links">
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
    </div>
</div>

<style>
    /* TODO: Update */

    .nav {
        @apply mx-auto my-0;
    }

    .logo {
        @apply float-left h-[60px] w-auto rounded-2xl;
    }

    .links {
        @apply float-right m-0 hidden w-full md:static md:ml-20 md:block md:w-auto md:bg-none;
    }

    .links a {
        @apply block px-0 py-[10px] text-center font-mono text-2xl uppercase text-gray-400 no-underline transition-all duration-200 hover:text-gray-300 focus:text-gray-300 md:inline-block md:px-4 md:py-5; /* TODO: Edit y padding values */
    }

    .expanded {
        display: unset;
    }
</style>
