---
import { Image } from "astro:assets";
import logoImage from "../images/Icon.jpg"; // TODO: Replace
---

<div class="nav">
    <a href="/">
        <Image class="logo" src={logoImage} alt="Photonic Logo" loading="eager" />
    </a>
    <div class="links">
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
    </div>
</div>

<style>
    /* TODO: Update */

    .nav {
        margin: 0 auto;
    }

    .logo {
        border-radius: 15px;
        height: 60px;
        width: auto;
        float: left;
    }

    .links {
        width: 100%;
        display: none;
        margin: 0;
        float: right;
    }

    .links a {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "JetBrains Mono", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Courier New", monospace; /* TODO: Use font constants */
        font-size: 18pt;
        color: rgba(220, 220, 220, 0.8); /* TODO: Use colour constants */
        transition: all 0.2s;
    }

    .links a:hover,
    .links a:focus {
        color: rgb(240, 240, 240);
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 768px) {
        .links {
            margin-left: 5em;
            display: block;
            position: static;
            width: auto;
            background: none;
        }

        .links a {
            display: inline-block;
            padding: 15px 20px;
        }
    }
</style>
