---
import { getEntry } from "astro:content";

import ButtonLink from "@components/generic/ButtonLink.astro";

import ProjectLayout from "@layouts/ProjectLayout.astro";

const project = (await getEntry("projects", "7125"))!;
---

<ProjectLayout {...project.data}>
    {/* Introduction */}
    <div>
        <p>
            <em>7125</em> is an EP exploring themes of secrecy, identity, and revelations.
        </p>
        <p>
            This is my first 'real' attempt at making my own compositions in
            <a href="https://musescore.org/">MuseScore</a>, a free and open-source notation application. Created
            over 4 months, I am proud of how the five tracks turned out. They are experimental pieces as I try out
            new music techniques and notation styles for the first time.
        </p>
    </div>

    {/* Tracks */}
    <div>
        <p>
            The final EP is available on <a href="https://melodicgluon.bandcamp.com/album/7125">Bandcamp</a>. Sheet
            music and MuseScore links are listed below:
        </p>

        <ol class="!list-none !pl-0 md:!list-decimal md:!pl-4">
            <li>
                <div class="music-entry">
                    <span class="music-title">Unorthodox Identity</span><span class="bracket"> [</span><span
                        class="music-duration">03:33</span
                    ><span class="bracket">]:</span>
                </div>
                <div class="music-buttons">
                    <ButtonLink
                        class="button musescore-button"
                        href="https://musescore.com/user/23043611/scores/9860671/s/yMiWHZ"
                        target="_blank"
                    >
                        MuseScore
                    </ButtonLink>
                    <ButtonLink
                        class="button sheet-music-button"
                        href="/projects/7125/Unorthodox%20Identity.pdf"
                        download
                    >
                        Sheet Music
                    </ButtonLink>
                </div>
            </li>
            <li>
                <div class="music-entry">
                    <span class="music-title">Revealed</span><span class="bracket"> [</span><span
                        class="music-duration">03:42</span
                    ><span class="bracket">]:</span>
                </div>
                <div class="music-buttons">
                    <ButtonLink
                        class="button musescore-button"
                        href="https://musescore.com/user/23043611/scores/9860719/s/AlMpBi"
                        target="_blank"
                    >
                        MuseScore
                    </ButtonLink>
                    <ButtonLink class="button sheet-music-button" href="/projects/7125/Revealed.pdf" download>
                        Sheet Music
                    </ButtonLink>
                </div>
            </li>
            <li>
                <div class="music-entry">
                    <span class="music-title">Hidden Secrets</span><span class="bracket"> [</span><span
                        class="music-duration">03:36</span
                    ><span class="bracket">]:</span>
                </div>
                <div class="music-buttons">
                    <ButtonLink
                        class="button musescore-button"
                        href="https://musescore.com/user/23043611/scores/9860737/s/4P4j7_"
                        target="_blank"
                    >
                        MuseScore
                    </ButtonLink>
                    <ButtonLink
                        class="button sheet-music-button"
                        href="/projects/7125/Hidden%20Secrets.pdf"
                        download
                    >
                        Sheet Music
                    </ButtonLink>
                </div>
            </li>
            <li>
                <div class="music-entry">
                    <span class="music-title">Melancholy Hope</span><span class="bracket"> [</span><span
                        class="music-duration">04:45</span
                    ><span class="bracket">]:</span>
                </div>
                <div class="music-buttons">
                    <ButtonLink
                        class="button musescore-button"
                        href="https://musescore.com/user/23043611/scores/9860752/s/8GU4ZZ"
                        target="_blank"
                    >
                        MuseScore
                    </ButtonLink>
                    <ButtonLink
                        class="button sheet-music-button"
                        href="/projects/7125/Melancholy%20Hope.pdf"
                        download
                    >
                        Sheet Music
                    </ButtonLink>
                </div>
            </li>
            <li>
                <div class="music-entry">
                    <span class="music-title">Gout Nimoc</span><span class="bracket"> [</span><span
                        class="music-duration">03:18</span
                    ><span class="bracket">]:</span>
                </div>
                <div class="music-buttons">
                    <ButtonLink
                        class="button musescore-button"
                        href="https://musescore.com/user/23043611/scores/9860764"
                        target="_blank"
                    >
                        MuseScore
                    </ButtonLink>
                    <ButtonLink class="button sheet-music-button" href="/projects/7125/Gout%20Nimoc.pdf" download>
                        Sheet Music
                    </ButtonLink>
                </div>
            </li>
            <li>
                <div class="music-entry">
                    <span class="music-title">Unshackled (bonus)</span><span class="bracket"> [</span><span
                        class="music-duration">01:29</span
                    ><span class="bracket">]:</span>
                </div>
                <div class="music-buttons">
                    <ButtonLink
                        class="button musescore-button"
                        href="https://musescore.com/user/23043611/scores/9980317"
                        target="_blank"
                    >
                        MuseScore
                    </ButtonLink>
                    <ButtonLink class="button sheet-music-button" href="/projects/7125/Unshackled.pdf" download>
                        Sheet Music
                    </ButtonLink>
                </div>
            </li>
        </ol>
    </div>

    {/* Final Notes */}
    <div class="mt-4">
        <p>
            This EP is released under a
            <a href="https://creativecommons.org/licenses/by-nc/4.0/">
                Creative Commons Attribution-NonCommercial 4.0 International Licence
            </a>.
        </p>
    </div>
</ProjectLayout>

<style>
    @import "@styles/global.css";

    /* General styling */
    .button {
        @apply text-center font-normal;
    }

    .musescore-button {
        @apply bg-indigo-700 hover:bg-indigo-800;
    }

    .sheet-music-button {
        @apply bg-violet-700 hover:bg-violet-800;
    }

    /* Music pieces' styling */
    .music-entry {
        @apply inline-block w-full text-center font-bold md:w-96 md:text-justify;
    }

    .bracket {
        @apply hidden md:inline;
    }

    .music-buttons {
        @apply grid font-bold md:inline-block;
    }

    .music-title,
    .music-duration {
        @apply block md:inline-block;
    }

    .music-title {
        @apply text-xl md:text-base;
    }

    .music-duration {
        @apply font-normal text-gray-400 md:font-bold md:text-white;
    }
</style>
