---
import { Image } from "astro:assets";

export interface Props {
    /** Name of the platform */
    platform: string;
    /** URL of the social media */
    url: string;
    /** Path to the icon file */
    icon: ImageMetadata;
}

const { platform, url, icon } = Astro.props;
---

{/* TODO: Improve this */}
<li>
    <a href={url} title=`Link to ${platform}`>
        <Image src={icon} alt=`${platform} Logo` />
    </a>
</li>

<style>
    li:not(:last-of-type) {
        @apply mr-5;
    }

    li img {
        @apply h-10 w-auto;
    }
</style>
