html,
body {
    /* Normalize the content */
    margin: 0;
    width: 100%;
    height: 100%;

    /* Set default font */
    font-family: "DM Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

.font-mono {
    font-family: "JetBrains Mono", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
