---
import seedrandom from "seedrandom";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Shader from "@components/Shader.astro";

const { title } = Astro.props;

// Define pseudo-random time offset for contour noise
const random = seedrandom(title);
const contourNoiseTimeOffset = random() * 100 - 50; // So this range is [-50, 50]
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <!-- TODO: Add more -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
        <slot name="head-fonts" />

        <!-- Scripts -->
        <slot name="head-scripts" />
    </head>
    <body>
        <Header />
        <main>
            <Shader
                id="body-shader"
                fragURL="lib/shaders/frag/contour/contour-modifiable.frag"
                editableUniformsURL="lib/shaders/frag/contour/editable-uniforms.ts"
                constants={{ cTimeOffset: contourNoiseTimeOffset }}
            />
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    /* Page content normalization */
    html,
    body {
        /* TODO: Maybe add maximum width of content (e.g., 1080 px?)*/
        @apply m-0 h-full w-full;

        /* TODO: Handle 'light mode'*/
        @apply font-sans text-white;
    }

    html {
        /* TODO: Handle 'light mode'*/
        @apply bg-black;
    }

    /* Paragraph styling */
    p {
        @apply pb-3 text-justify;
    }

    /* Hyperlink styling */
    a {
        @apply text-blue-400 transition-all duration-200 visited:text-indigo-400 hover:text-blue-500 visited:hover:text-indigo-500;
    }

    /* Section styling */
    section:first-of-type {
        @apply pt-8;
    }

    /* Body shader styling */
    #body-shader {
        @apply fixed top-0 -z-10 h-screen w-screen;
    }
</style>
