---
import seedrandom from "seedrandom";

import Analytics from "@components/top/Analytics.astro";
import Metadata from "@components/top/Metadata.astro";

import Footer from "@components/Footer.astro";
import Header from "@components/header/Header.astro";
import Shader from "@components/Shader.astro";

import "@styles/global.css";
import ScrollToTopButton from "@components/generic/ScrollToTopButton";

export interface Props {
    /** Title of the page */
    title: string;
    /** Padding to apply for the footer */
    footerPadding?: string;
}

const { title, footerPadding = "calc(var(--spacing) * 36)" } = Astro.props;

// Define pseudo-random time offset for contour noise
const random = seedrandom(title);
const contourNoiseTimeOffset = random() * 100 - 50; // So this range is [-50, 50]
---

<!doctype html>
<html class="bg-gray-950 font-sans text-white" lang="en">
    <head>
        <Analytics />

        {/* SEO and Metadata */}
        <slot name="head-seo" />
        <Metadata />

        {/* Fonts */}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="preload"
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <noscript>
            <link
                href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
                rel="stylesheet"
            />
        </noscript>
        <slot name="head-fonts" />

        {/* Scripts */}
        <script>
            import { Observer } from "tailwindcss-intersect";
            Observer.start();
        </script>
        <slot name="head-scripts" />
    </head>
    <body class="relative m-0 min-h-screen print:m-4">
        {/* Main page contents */}
        <div class="pb-(--footer-padding) print:pb-0" style={{ "--footer-padding": footerPadding }}>
            <Header />
            <Shader
                class="fixed top-0 -z-10 h-screen w-screen"
                id="body-shader"
                basePath="lib/shaders/frag/contour"
                constants={{ cTimeOffset: contourNoiseTimeOffset }}
            />
            <slot />
        </div>
        <ScrollToTopButton client:visible />
        <Footer class="h-24" />
    </body>
</html>

<style is:global>
    @import "@styles/global.css";

    /* Page content normalization */
    section {
        @apply mx-auto my-0 max-w-screen-xl px-10;
    }

    /* Text styling */
    p,
    ul,
    ol {
        @apply pb-3 text-justify;
    }

    /* Hyperlink styling */
    a {
        @apply text-blue-400 transition-all duration-200 visited:text-indigo-400 hover:text-blue-500 visited:hover:text-indigo-500;
    }
</style>
