---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

let { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <!-- TODO: Add more -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    html,
    body {
        /* Normalize page content*/
        /* TODO: Maybe add maximum width of content (e.g., 1080 px?)*/
        @apply m-0 h-full w-full;

        /* Set defaults */
        /* TODO: Handle 'light mode'*/
        @apply bg-black font-sans text-white;
    }
</style>
