---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

let { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style lang="scss" is:global>
    @use "/src/styles/fonts.scss";

    html,
    body {
        // Normalize page content
        margin: 0;
        width: 100%;
        height: 100%;

        // Set default font
        font-family: fonts.$font-family-sans-serif;

        // Set colours
        // TODO: Handle 'light mode'
        background-color: black;
        color: white;
    }
</style>
