---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...attributes } = Astro.props;
---

<a class={className} {...attributes}>
    <slot />
</a>

<style>
    a {
        @apply mb-2 rounded-lg px-5 py-2.5 text-white hover:text-white focus:outline-none focus:ring-4 focus:ring-sky-900;
    }
</style>
