---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...attributes } = Astro.props;
---

<a class={className} {...attributes}>
    <slot />
</a>

<style>
    @import "@styles/global.css";

    a {
        @apply mb-2 inline-block rounded-lg px-5 py-2.5 text-white transition-colors duration-100 visited:text-white hover:text-white visited:hover:text-white focus:ring-4 focus:ring-sky-900 focus:outline-none;
    }
</style>
