---
import { Image } from "astro:assets";

export interface Props {
    /** Name of the platform */
    platform: string;
    /** URL of the social media */
    url: string;
    /** Path to the icon file */
    icon: ImageMetadata;
}

const { platform, url, icon } = Astro.props;
---

<li>
    <a href={url} title={platform}>
        <Image class="h-10 w-auto" src={icon} alt=`${platform} Logo` />
    </a>
</li>
